.fl, .bd, .pm_order, .pm_order .phead, .pm_order .phead .number, .pm_order .pbody, .pm_order .pbody .ppic img, .pm_order .pbody .pcontent, .pm_order .pbody .pcontent .hone, .pm_order .pbody .pcontent .htext, .pm_order .pbody .pcontent .hmoney, .pm_details, .pm_details .time, .pm_details .pm_page, .chebtn, .site, .site .site-default, .site .site-list, .site .site-list li, .site .site-list li .site-head, .site-page, .site-page li, .site-page li .site-box, .site-page li .site-select { float: left; }

.fr { float: right; }

.wb, .bd, .pm_order, .pm_order .phead, .pm_order .pbody, .pm_order .pbody .ppic img, .pm_order .pbody .pcontent, .pm_order .pbody .pcontent .hone, .pm_order .pbody .pcontent .htext, .pm_order .pbody .pcontent .hmoney, .pm_details, .pm_details .time, .pm_details .pm_page, .chebtn, .site, .site .site-default, .site .site-list, .site .site-list li, .site .site-list li .site-head, .site-page, .site-page li, .site-page li .site-box, .site-page li .site-select { width: 100%; }

.wh { width: 100%; float: left; position: relative; }

li { list-style: none; }

.bd { border-bottom: 1px solid #e2e2e2; }

.pm_order { padding: 0 14px; border-top: 1px solid #f3f3f3; border-bottom: 1px solid #f3f3f3; margin-bottom: 21px; }
.pm_order .noorder { margin: 150px 0; font-size: 16px; line-height: 16px; color: gray; text-align: center; }
.pm_order .phead { border-bottom: 1px solid #f3f3f3; }
.pm_order .phead .number { font-size: 14px; line-height: 14px; color: gray; padding: 15px 0; }
.pm_order .phead .state { float: right; font-size: 14px; line-height: 14px; color: #ef5b70; padding: 15px 0; }
.pm_order .pbody { position: relative; }
.pm_order .pbody .ppic { width: 80px; height: 80px; position: absolute; left: 0; top: 20px; }
.pm_order .pbody .pcontent { padding: 20px 0 20px 90px; }
.pm_order .pbody .pcontent .hone { font-size: 16px; line-height: 16px; color: black; margin: 0 0 10px 0; }
.pm_order .pbody .pcontent .htext { line-height: 18px; font-size: 14px; color: #000; margin-bottom: 5px; }
.pm_order .pbody .pcontent .hmoney { font-size: 14px; color: #000; line-height: 18px; }

.pm_details .phead { padding: 16px 0; }
.pm_details .time { margin-bottom: 10px; }
.pm_details .time span { float: left; font-size: 14px; line-height: 14px; color: gray; margin-right: 10px; }
.pm_details .time:last-child { margin-bottom: 0; }
.pm_details .pm_page { padding: 15px 14px; border-top: 1px solid #f3f3f3; border-bottom: 1px solid #f3f3f3; margin-bottom: 21px; }
.pm_details .pm_page p { font-size: 14px; color: #000; margin-bottom: 10px; line-height: 19px; }
.pm_details .pm_page p span { color: gray; }
.pm_details .pm_page p:last-child { margin-bottom: 0; }

.pm_btn { height: 48px; line-height: 48px; font-size: 16px; color: #fff; text-align: center; background: #ef5b70; width: 100%; float: left; }

.chebtn { padding: 0 14px; margin-top: 50px; }
.chebtn .chevron-save { width: 100%; float: left; height: 42px; line-height: 42px; color: #fff; background: #ef5b71; text-align: center; border: 0; }

.site .site-default { margin: 13px 0; }
.site .site-default .pleft { padding: 0 14px; }
.site .site-default strong { font-size: 12px; color: #666; }
.site .site-default .checkbox { vertical-align: middle; display: none; }
.site .site-default .span { width: 18px; height: 18px; display: inline-block; position: relative; margin-right: 5px; }
.site .site-default .che-click { width: 18px; height: 19px; background-image: url("../images/active-site.png"); background-position: 0 -18px; background-size: 18px; display: inline-block; position: absolute; top: 3px; left: 0; }
.site .site-default .che-click.cur { background-position: 0 1px; }
.site .site-list li { margin-top: 12px; border-top: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; padding: 0 14px; }
.site .site-list li .site-head { padding: 11px 0; }
.site .site-list li .site-head span { float: left; font-size: 14px; color: #000; }
.site .site-list li .site-head span:last-child { float: right; }
.site .site-list li .site-content { font-size: 12px; color: #000; line-height: 18px; margin-bottom: 18px; }
.site .site-list li .s-left { float: left; }
.site .site-list li .s-btn { float: right; }
.site .site-list li .s-btn .site-btn { width: 60px; height: 25px; border: 1px solid #ef5b70; font-size: 12px; line-height: 25px; color: #ef5b70; float: right; text-align: center; margin-left: 10px; outline: none; }

.site-page { padding: 0 14px; border-top: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; margin-top: 12px; }
.site-page li { border-bottom: 1px solid #e2e2e2; }
.site-page li .site-title { float: left; font-size: 14px; color: #666; padding: 10px 0; }
.site-page li .site-txt { float: left; border: 0; font-size: 14px; color: #000; padding: 10px 0; outline: none; }
.site-page li .site-box { resize: none; padding: 10px 0; font-size: 14px; border: 0; outline: none; color: #000; height: 70px; }
.site-page li .site-select { border: 0; font-size: 12px; color: #000; padding: 10px 9px; min-height: 48px; outline: none; }
.site-page li:last-child { border-bottom: 0; }
